/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  max-inline-size: 1024px; /* Удалить */
  inline-size: 100%;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--main-font, sans-serif);
  font-size: var(--text-size);
  line-height: var(--text-line-height);
  background-image: var(--bg-image);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

/* для смены цветовых схем используется подход через 
задание класса контейнеру страницы и 
медиавыражение с prefers-color-scheme; */

h2 {
  color: var(--section-title);
  font-size: var(--text-size);
  font-weight: bold;
  line-height: var(--text-line-height);
  margin-block-end: 20px;
}

h3 {
  font-size: var(--text-size);
  font-weight: bold;
  line-height: var(--text-line-height);
  margin-block-end: 10px;
}

.how__sub-header {
  margin-block-end: 20px;
}

h4 {
  font-size: var(--text-size);
  font-weight: normal;
  line-height: var(--text-line-height);
  margin-block-end: 10px;
}

.br {
  display: block;
}

.section-padding {
  padding: var(--section-padding);
}

.main__section:not(:last-of-type) {
  margin-block-end: var(--main__section-mb);
}

.main__section li:not(:last-of-type) {
  margin-block-end: 20px;
}

p a {
  text-shadow: 2px 1px 0 var(--link-shadow-color);
  text-decoration: none;
  cursor: pointer;
}

p a:hover {
  text-decoration: underline;
}

p a:focus-visible {
  outline: 1px solid currentColor;
}

.header {
  min-block-size: var(--header-min-block-size);
  /* block-size: 100vh; */
  padding: var(--header-padding);
  display: grid;
  grid-template-rows: var(--header-grid-rows);
  position: relative;
}

/*------------------------*/
.header__decor {
  position: absolute;
  right: 20px;
  top: 13px;
  width: auto;
  height: auto;
  color: var(--accent-color);
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}

@media (width >= 768px) {
  .header__decor {
    right: 30px;
    top: 20px;
  }
}

.header__decor::after {
  content: "";
  background-color: var(--accent-color);
  width: 9px;
  height: 9px;
  flex: 0 0 9px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color);
}
/*------------------------*/

.decorated-zone::before {
  position: absolute;
  content: "";
  right: var(--decorated-zone-gap);
  top: var(--decorated-zone-gap);
  inline-size: 25px;
  block-size: 25px;
  border-block-start: 1px solid var(--border-coner-color);
  border-inline-end: 1px solid var(--border-coner-color);
}

.decorated-zone::after {
  position: absolute;
  content: "";
  left: var(--decorated-zone-gap);
  bottom: var(--decorated-zone-gap);
  inline-size: 25px;
  block-size: 25px;
  border-inline-start: 1px solid var(--border-coner-color);
  border-block-end: 1px solid var(--border-coner-color);
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
}

@media (width >= 1024px) {
  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }
}

.header__theme-menu-list {
  display: grid;
  gap: 5px;
}

@media (width >= 1024px) {
  .header__theme-menu-list {
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
  }
}

.header__theme-menu-button {
  appearance: none;
  text-transform: lowercase;
  background-color: transparent;
  color: var(--menu-color);
  border: 1px solid transparent;
  padding: 4px 13px 7px;
  line-height: 1;
  cursor: pointer;
}

.header__theme-menu-button_active {
  border: 1px solid currentColor;
  pointer-events: none;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--hover-border-menu-color);
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid currentColor;
}

.site-name {
  font-family: var(--main-font), sans-serif;
  font-size: var(--site-name-font-size);
  line-height: var(--main-title-line-height);
  font-weight: bold;
  color: var(--main-title-color);
}

.header__title {
  text-shadow: 4px 4px 0 var(--accent-color);
}

@media (width >= 768px) {
  .header__title {
    transform: translate(-20px, 0);
  }
}

.header__text {
  margin: 0;
  font-weight: bold;
  align-self: center;
}

@media (width >= 768px) {
  .header__text {
    width: 50%;
    justify-self: end;
  }
}

.title-decor {
  background-color: var(--title-decor-bg);
  color: var(--title-decor-color);
}

.content {
  padding: var(--content-padding);
}

.two-col {
  display: grid;
}

@media (width >= 768px) {
  .two-col {
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }
}

@media (width >= 1024px) {
  .two-col {
    gap: 10px;
  }
}

@media (width >= 768px) {
  .what__header {
    inline-size: 30%;
  }
}

.what__list {
  display: grid;
}

@media (width >= 1024px) {
  .what__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
  }
}

.gallery__header {
  margin-block-end: 10px;
}

@media (width >= 768px) {
  .gallery__header {
    margin-block-end: 20px;
  }
}

.gallery__content {
  display: grid;
  gap: 10px;
}

@media (width >= 768px) {
  .gallery__content {
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
  }

  .gallery__item:nth-child(1) {
    grid-column: span 2;
  }

  .gallery__item:nth-child(2) {
    grid-row: span 2;
  }

  .gallery__item:nth-child(3) {
    grid-row: 2 / 4;
  }

  .gallery__item:nth-child(5) {
    grid-column: span 2;
  }
}

.gallery__image {
  width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: cover;
  display: block;
}

.footer {
  min-block-size: 667px;
  display: grid;
  align-items: center;
  justify-content: center;
  position: relative;
  /* block-size: 100vh; */
}

@media (width >= 768px) {
  .footer {
    min-block-size: 1024px;
  }
}

@media (width >= 1024px) {
  .footer {
    min-block-size: 768px;
  }
}

.footer__title {
  text-shadow: 2px 2px 0 var(--accent-color);
}
